# Temporary files
tmp*
.aider*
data/rawdata/risposta sudano (MI-123-U-A-SD-2025-90_4)_txt.pdf
data/rawdata/doc FOIA PERIOD.pdf
.~lock.*
.vscode/mcp.json
scripts/find_unique_combinations.py
data/rawdata/richiesta.md
data/rawdata/risposta.md
docs/newsletter_01.md
riunione.md
*Zone.Identifier
tmp
data/geo
tasks/marta/PRD_marta.md
tasks/marta/
tasks/check_nomi/
*.backup_*
scripts/test_pulisci_semplificato.log
